.house-infos-container
{
    color: #ff6060;
} 
.house-infos
{
    display: flex;
    flex-direction: column;
}
.house-title
{
    color: #ff6060;
    font-size: 36px;

    @media only screen and (max-width: 768px)
    {
        font-size: 18px;
    }
}
.house-location
{
    color: #ff6060;
    font-size: 18px;

    @media only screen and (max-width: 768px)
    {
        font-size: 14px;
    }
}

// bloc droit nom / image / étoiles
.house-hote
{
    display: flex;
    flex-direction: column;
}
.host-infos
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 24px;
}
// profil de l'hote
.name
{
    color: #ff6060;
    font-size: 18px;
    text-align: right;
    margin-right: 10px;

    @media only screen and (max-width: 768px)
    {
        font-size: 12px;
    }
}
.hote-image
{
    border-radius: 100%;
    height: 64px;
    width: 64px;

    @media only screen and (max-width: 768px)
    {
        height: 32px;
        width: 32px;
    }
}