.wrapper
{
    background: #F7F7F7;
    border-radius: 25px;
    padding: 56px;
    margin-bottom: 43px;

   @media (max-width: 768px)
    {
        background: transparent;
        padding: 0;
    }
}

